body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.notes-list {
  display: grid;
  /* this makes the items in the list to be displayed in a grid */
  grid-gap: 1rem;
  /* this is the space between the items in the list */
  grid-template-columns: repeat(
    auto-fit,
    minmax(280px, 1fr)
  ); /* 1fr means space available */
}
.title {
  /*background-color: rgb(204, 218, 218);*/
  background: linear-gradient(#f69d3c, #3f87a6);
  border-radius: 10px;
  /* this is the radius of the corners of the note */
  padding: 1rem;
  /* this is the space between the note and the text */
  min-height: 170px;
  /* this is the minimum height of the note */
  display: flex;
  /* this makes the items in the note to be displayed in a row */
  flex-direction: column;
  /* this makes the items in the note to be displayed in a column */
  justify-content: space-between;
  /* this makes the items in the note to be displayed in a column */
  filter: drop-shadow(5px 5px 4px #0000004a); 
  /* this is the shadow of the note*/
  margin-left: 1.1rem;
  margin-right: 1.1rem;
  margin-top: 1rem;
  
}
h3{
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}
.note-footer {
  display: flex;
  /* this makes the items in the note-footer to be displayed in a row */
  align-items: center;
  /* this makes the items in the note-footer to be displayed in a row */
  justify-content: space-between;
  /* this makes the items in the note-footer to be displayed in a row */
}
.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note-footer small {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
}
.delete-icon {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  cursor: pointer;
}

